/* CSS Document */
@-webkit-keyframes twinkling{   /*閫忔槑搴︾敱0鍒�*/

    0%{

    opacity:0; /*閫忔槑搴︿负0*/

    }

    100%{

    opacity:1; /*閫忔槑搴︿负1*/

    }

    }
#btn{
	/* border: none 0;
		    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
        -webkit-appearance: push-a;
    user-select: none;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block; */
    
    /* -webkit-animation: twinkling 1s infinite ease-in-out; */

    }
body {
	font-family:Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #333;
}
a:link {
	color: #666;
	text-decoration: none;	
}
#btn:link {
	color: #f5f5f5;
	text-decoration: none;	
}
#btn1:link {
	color: #f5f5f5;
	text-decoration: none;	
}
#btn2:link {
	color: #f5f5f5;
	text-decoration: none;	
}
a:visited {
	color: #666;
	text-decoration: none;	
}
a:hover {
	color: #C00;
	text-decoration: none;	
}
ul,ol,li {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
dl,dt,dd {
	margin: 0;
	padding: 0;
}
img {
	border: 0;	
}
br {
	font-size: 0;
	line-height: 10px;
	height: 10px;
}

/* 澶撮儴 */
.top {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: url(img/tp01_20140320.png) no-repeat left center;	
}
.top ul {
	height: 90px;
	line-height: 90px;
	float: right;
}
.top ul li {
	float: left;
	margin-left: 30px;
	font-weight: bold;
}
.top ul li a.hover {
	color: #F60;
}
.top ul li a.hover:hover {
	color: #C00;
}


/*杩斿洖椤堕儴寮�*/
#code,#code_hover{width:40px;height:195px;background:url(img/icon.png) no-repeat;position:fixed;cursor:pointer; left::0px;}
#code{background-position: -189px 0px;bottom:390px;_margin-bottom:390px; z-index:9999;}
#code_hover{background-position: -189px 0px;bottom:390px;_margin-bottom:390px;z-index:9998;}
#code_img{width:220px;height:355px;
background: url(img/icon.png) 52px 89px no-repeat;
z-index:9996;
position:fixed;
left:10px;
bottom:337px;
cursor:pointer;
display:none;
_position:absolute;
_bottom:auto;
_margin-bottom:67px;}
/*杩斿洖椤堕儴缁撴潫*/

/* 鐧诲綍涓讳綋 */
.main {
	height: 75%;
	background-color:#f0f0f0;
}
.main .denglu {
	width: 100%;
	height: 520px;
	background: url(img/pic01_20140320.jpg) no-repeat;
	margin: 0 auto;
	position: relative;
	background-position:center center
}
.main .denglu .text {
	width: 450px;
	position: absolute;
	left: 260px;
	top: 155px;
	line-height: 26px;
}
.main .denglu .dlk {
	width: 354px;
	height: 328px;
	background: url(img/tp03_20140320.png) no-repeat;
	position: absolute;
	right: 350px;
	top: 100px;
	color: #999;
}
.main .denglu .dlk a.mm {
	color: #000;
	font-size: 18px;
}
.main .denglu .dlk a.mm:hover {
	color: #C00;
}
.main .denglu .dlk a.zc {
	color: #F60;
}
.main .denglu .dlk a.zc:hover {
	color: #C00;
}

/* 鐧诲綍搴曢儴 */
.footer {
	font-size: 13px;
	height: 97px;
	line-height:70px;
	background: url(img/footerbj.png) repeat-x;
	text-align: center;
	color: #666;	
}

/* button,input */
.dlinput {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	width: 222px;
	height: 34px;
	line-height: 34px;
	text-indent: 2px;
	font-size: 14px;
	
}
.loginbtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(img/tp06_20140320.png) no-repeat;
	border: none 0;
	width: 224px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-family: "寰蒋闆呴粦";
	font-size: 16px;
	color: #FFF;
	padding: 0;
	margin: 0;
}
.loginbtn:hover, .loginbtn:focus {
	background: url(img/tp07_20140320.png) no-repeat;
}
.loginbtn:active {
	color: #ccc;
}
/**************************************************************************************/
@charset "utf-8";

.iforgot_bd {
	width: 842px;
	height:90%;
	padding-bottom: 50px;
	margin: 0 auto;
}

.iforgot_bd .iforgot_header {
	position: relative;
	height: 27px;
}

.iforgot_bd .iforgot_header .logo_mod {
	width: 80px;
	height: 27px;
	background: url("../../images/iforgot/WB_logo.png") 0 0 no-repeat;
}

.iforgot_bd .iforgot_header .logo_mod1 {
	width: 100px;
	height: 33px;
	background: url("../../images/iforgot/tx_logo.png") 0 0 no-repeat;
}

.iforgot_bd .iforgot_header .name_mod {
	position: absolute;
	right: 5px;
	bottom: 0;
}

.iforgot_bd .iforgot_header .name_mod a {
	display: inline-block;
	height: 13px;
	border-right: 1px #a0a0a3 solid;
	padding-right: 10px;
	margin-right: 10px;
}

.iforgot_bd .iforgot_header .name_mod a.last {
	border: none;
	padding: 0;
	margin: 0;
}

.iforgot_cont {
	width: 100%;
	height: 85%;
	margin-top: 4%;
	border: 1px #c3c4d0 solid;
	background: #fff;
	border-top: 2px #6495ED solid;
	border-radius: 4px;
	font: 12px/1.3 'Arial','Microsoft YaHei';
}

.iforgot_cont .i_top {
	height:17%;
	padding: 30px 0;
	color: rgb(79, 135, 209);
}

.iforgot_cont .i_top .title,
.iforgot_cont .i_top .page {
	text-align: center;
}

.iforgot_cont .i_top .title {
	font-size: 22px;
}

.iforgot_cont .i_top .page {
	margin-top: 12px;
}

.iforgot_cont .i_top .process_mod {
	margin-top: 20px;
}

.iforgot_cont .i_top .process_mod .process_img {
	width: 355px;
	height: 26px;
	margin-left: 240px;
	background: url("../../images/iforgot/process_bg.png") 0 0 no-repeat;
}

.iforgot_cont .i_top .process_mod .process_img_two {
	background-position: 0 -31px;
}

.iforgot_cont .i_top .process_mod .process_img_three {
	background-position: 0 -62px;
}

.iforgot_cont .i_top .process_mod .process_font {
	margin-top: 10px;
	padding-left: 218px;
}

.iforgot_cont .i_top .process_mod .process_font_two {
	padding-left: 212px;
}

.iforgot_cont .i_top .process_mod .process_font_three {
	padding-left: 226px;
}

.iforgot_cont .i_top .process_mod .process_four {
	padding-left: 195px;
}

.iforgot_cont .i_top .process_mod .process_font span {
	font-size: 14px;
}

.iforgot_cont .i_top .process_mod .process_font span.center {
	margin: 0 119px 0 100px;
}

.iforgot_cont .i_top .process_mod .process_font_two span.center {
	margin: 0 118px 0 93px;
}

.iforgot_cont .i_top .process_mod .process_font_three span.center {
	margin: 0 119px 0 106px;
}

.iforgot_cont .i_top .process_mod .process_four span.center {
	margin: 0 104px 0 67px;
}

.iforgot_cont .i_mod {
	height:83%;
	background: #fafafa none repeat scroll 0 0;
	padding: 9% 0 9%;
	margin-bottom:0%;
	border-top: 0px #f2f2f5 solid;
	background: #EDEDED;
	border-radius: 0 0 4px 4px;
}

.iforgot_cont .form_mod .form_list .item {
	line-height: 35px;
	margin-bottom: 14px;
}

.iforgot_cont .form_mod .form_list .no_bottom {
	margin-bottom: 0;
}

.iforgot_cont .form_mod .form_list .no_lineheight {
	margin-bottom: 12px;
	line-height: 13px;
}

.iforgot_cont .form_mod .form_list .top {
	padding-top: 6px;
}

.iforgot_cont .form_mod .form_list .tit {
	display: inline-block;
	width: 314px;
	margin-right: 3px;
	text-align: right;
}

.iforgot_cont .form_mod .form_list .tit i {
	position: relative;
	top: 4px;
	margin-right: 5px;
	color: #ff8140;
}

.iforgot_cont .form_mod .form_list .WB_select, 
.iforgot_cont .form_mod .form_list .W_input {
	height: 33px;
	line-height: 33px;
}

.iforgot_cont .form_mod .form_list .WB_select {
	width: 201px;
	vertical-align: middle;
	* height: 20px;
	height: 20px\0;
	padding: 0;
	border-color: #ccc;
	outline: none;
}

.iforgot_cont .form_mod .form_list .W_input {
	width: 188px;
	padding-left: 10px;
}

.iforgot_cont .form_mod .form_list .W_input::-webkit-input-placeholder {
	color: #ccc!important;
}

.iforgot_cont .form_mod .form_list .W_input:-moz-placeholder {
	color: #ccc!important;
}

.iforgot_cont .form_mod .form_list .W_input::-moz-placeholder {
	color: #ccc!important;
}

.iforgot_cont .form_mod .form_list .W_input:-ms-input-placeholder {
	color: #ccc!important;
}

.iforgot_cont .form_mod .form_list .form_prompt {
	display: inline-block;
	margin-left: 10px;
}

.iforgot_cont .form_mod .form_list .form_prompt .icon_rederrorS,
.iforgot_cont .form_mod .form_list .form_prompt .icon_succ {
	position: relative;
	bottom: 1px;
	margin-right: 5px;
	vertical-align: middle;
}

.iforgot_cont .form_mod .form_list .form_prompt .icon_succ {
	margin-left: 5px;
}

.iforgot_cont .form_mod .form_list a.form_prompt {
	color: #0a8cd2;
}

.iforgot_cont .form_mod .form_list .form_prompt_page {
	padding: 10px 0 0 320px;
	line-height: 12px;
}

.iforgot_cont .form_mod .prompt_page {
	padding-top: 26px;
	text-align: center;
}

.iforgot_cont .form_mod .prompt_page a {
	color: #517daf;
}

.iforgot_cont .form_mod .form_list .code_mod .W_input {
	width: 82px;
}

.iforgot_cont .form_mod .form_list .code_mod .code_img {
	position: relative;
	top: -1px;
	vertical-align: middle;
	margin-left: 2px;
}

.iforgot_cont .form_mod .form_list .phone_code_mod .W_input {
	width: 83px;
}

.iforgot_cont .form_mod .form_list .phone_code_mod .W_btn_b {
	position: relative;
	top: 1px;
}

.iforgot_cont .form_mod .form_list .phone_mod {
	position: relative;
	* left: -3px;
}

.iforgot_cont .form_mod .form_list .phone_mod .W_input {
	width: 149px;
	padding-left: 50px;
}

.iforgot_cont .form_mod .form_list .phone_mod .fore_num {
	position: absolute;
	left: 0;
	height: 35px;
	line-height: 37px;
	overflow: hidden;
	padding: 0 5px 0 10px;
	color: #ff8140;
}

.iforgot_cont .form_mod .form_list .select_mod .WB_select {
	width: 98px;
}

.iforgot_cont .form_mod .form_list .btn_mod {
	position: relative;
	padding-top: 10px;
}

.iforgot_cont .form_mod .form_list .btn_mod .W_btn_a {
	display: block;
	width: 170px;
	margin: 0 auto;
}

#btn {
	display: block;
	width: 196px;
	margin: 0 auto;
}
#btn1 {
	display: block;
	width: 196px;
	margin: 0 auto;
}
#btn2 {
	display: block;
	width: 196px;
	margin: 0 auto;
}
.iforgot_cont .form_mod .form_list .btn_mod .W_btn_b {
	display: block;
	width: 170px;
	margin: 0 auto;
}

.iforgot_cont .form_mod .form_list .btn_mod .form_prompt {
	position: absolute;
	left: 525px;
	top: 10px;
}

.iforgot_cont .form_mod .form_list .page {
	padding-bottom: 22px;
	line-height: 22px;
	text-align: center;
}

.iforgot_cont .form_mod .form_list .page a {
	color: #517daf;
}

.iforgot_cont .form_mod .form_list .page i {
	margin: 0 5px;
	color: #ff8140;
}

.iforgot_cont .form_mod .form_list .page_two {
	padding-bottom: 0;
}

.iforgot_cont .form_mod .form_list .page_two a {
	margin-left: 20px;
}

.iforgot_cont .form_mod .form_list .page .icon_succB {
	display: block;
	margin: 0 auto 10px;
}

.iforgot_cont .form_mod .form_list .no_bottom {
	padding-bottom: 0;
}

#js_style_css_iforgot_iforgot_index {
	height: 42px;
}

.pic-box {
	margin-left: 320px;
	margin-top: -35px;
	width: 200px;
	height: 100px;
}

.pic {
	margin-top: 5px;
	margin-left: 5px;
	width: 70px;
	height: 70px;
	text-align: center;
}

.picSpan {
	float: left;
	width: 80px;
	height: 80px;
	border: 1px solid #CCCCCC;
}

.picSpan1 {
	float: left;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}

.file-style2 {
	width: 90px;
	height: 90px;
	margin-top: -2px;
	display: block;
	background: url("../../images/iforgot/upload.png");
	cursor: pointer;
	text-decoration: none;
}

.file-style2 input[type="file"] {
	opacity: 0;
	filter: Alpha(opacity=0);
	display: block;
	width: 90px;
	height: 90px;
}

.iconError {
	display: inline-block;
	background: url("../../images/iforgot/err.png");
	width: 60px;
	height: 50px;
}

.itemError {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.itemErrorl {
	margin-top: 15px;
}

.W_btn_a:hover {
	cursor: pointer;
}

.form_listError {
	height: 170px;
}

.btnError {
	font-size: 16px;
	font-weight: 600;
}

.Div {
	display: inline-block;
	width: 800px;
	height: 100%;
}

.fore_num1 {
	position: absolute;
	display: inline;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	padding: 0 5px 0 10px;
	padding: 2px 5px 0 10px\9;
	color: #ff8140;
}

.fore_num2 {
	position: absolute;
	display: inline;
	height: 35px;
	margin-top: 0px;
	line-height: 35px;
	overflow: hidden;
	padding: 0 5px 0 10px;
	color: #ff8140;
}
/*FireFox*/
@-moz-document url-prefix() {
	.fore_num1 {
		position: absolute;
		display: inline;
		height: 35px;
		margin-top: -10px;
		line-height: 35px;
		overflow: hidden;
		padding: 0 5px 0 10px;
		color: #ff8140;
	}

	.fore_num2 {
		position: absolute;
		display: inline;
		height: 35px;
		margin-top: 0px;
		line-height: 35px;
		overflow: hidden;
		padding: 0 5px 0 10px;
		color: #ff8140;
	}
}

.fontInput {
	height: 33px;
	height: 33px\9;
	line-height: 33px;
	line-height: 36px\9;
	border: 1px solid #ccc;
	padding-left: 50px;
	color: #8F809F;
	width: 148px;
}

.checkCode {
	float: left;
	height: 35px;
	margin-left: 8px;
	line-height: 30px;
	margin-top: -1px;
}

.padding50 {
	padding-left: 50px;
}

.divDisplay {
	display: inline-block;
}

.fInput {
	height: 33px;
	height: 33px\9;
	line-height: 33px;
	line-height: 36px\9;
	border: 1px solid #ccc;
	padding-left: 3px;
	color: #8F809F;
}

.fl {
	float: left;
}

.w200 {
	width: 200px;
}

.margin3 {
	margin-left: 3px;
}

.w80 {
	width: 80px;
}

.w85 {
	width: 85px;
}

.w93 {
	width: 93px;
}

.footBg {
	color: #000;
}

.footBg:hover {
	color: #eb7350
}
/***************************************************************


@charset "utf-8";


/*鎸夐挳鍏叡閮ㄥ垎*/
.W_btn_a,
.W_btn_b,
.W_btn_c,
.W_btn_d{padding:0 10px 0 10px;white-space:nowrap;display:inline-block; border-radius:2px; height:24px;line-height:25px; *line-height:24px; text-decoration:none; font-size:12px; min-width:40px; text-align:center; outline:none;}
.W_btn_a:hover,
.W_btn_b:hover,
.W_btn_c:hover,
.W_btn_d:hover{text-decoration:none;}
div.W_btn_b{ *display:inline;}

/*涓�被鎸夐挳*/
.W_btn_a{background:#1ab394; border:1px solid #1ab394; color:#fff;box-shadow: 0px 1px 2px rgba(0,0,0,0.25);}
.W_btn_a:hover{background:#1ab394; border:1px solid #1ab394;}
.W_btn_a_disable,
.W_btn_a_disable:hover{background:#ffc09f; color:#fff; border:1px solid #fbbd9e; box-shadow:none; cursor:default;}
/*浜岀被鎸夐挳*/
.W_btn_b{ border-width:1px; border-style:solid;box-shadow: 0px 1px 2px rgba(0,0,0,0.1);color:#333;background-color:#fff;border-color:#d9d9d9;}
.W_btn_b:hover{border-color:#cccccc; box-shadow: 0px 1px 1px rgba(0,0,0,0.15); }
.W_btn_b_disable,
.W_btn_b_disable:hover{ color:#808080; box-shadow:none; cursor:default;}
.W_btn_b_disable .W_ficon,
.W_btn_b_disable:hover .W_ficon{ cursor:default;}
/*涓夌被鎸夐挳 - 澶�- 榛�/
.W_btn_c{ width:104px;height:34px; padding:0 !important; line-height:34px; color:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.3);
background:#fa7d3c;
background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fa7d3c 0%,#f55f10 100%); /* IE10+ */
background: linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%); /* W3C */}
.W_btn_c:hover{ background:#f4722e;
background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4722e 0%,#f05807 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4722e 0%,#f05807 100%); /* IE10+ */
background: linear-gradient(top bottom, #f4722e 0%,#f05807 100%); /* W3C */}
/*鍥涚被鎸夐挳 - 澶�- 鐏�/
.W_btn_d{ width:104px;height:34px; padding:0 !important; line-height:34px; color:#fff; box-shadow:0px 2px 1px rgba(0,0,0,.2);
background:#696e78;
background: -moz-linear-gradient(top, #696e78 0%, #646973 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #696e78 0%,#646973 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #696e78 0%,#646973 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #696e78 0%,#646973 100%); /* IE10+ */
background: linear-gradient(top bottom, #696e78 0%,#646973 100%); /* W3C */}
.W_btn_d:hover{ background:#5f636d;
background: -moz-linear-gradient(top, #5f636d 0%, #535861 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #5f636d 0%,#535861 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5f636d 0%,#535861 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5f636d 0%,#535861 100%); /* IE10+ */
background: linear-gradient(top bottom, #5f636d 0%,#535861 100%); /* W3C */}
/*浜岀楂樼殑閫夋嫨锛屾渶澶栧眰22楂樸�30楂�/
.btn_22px{display:inline-block;height:20px;line-height:21px; *line-height:20px; min-width:28px;}
.btn_30px{display:inline-block;height:28px;line-height:29px; *line-height:28px; width:60px; font-size:14px;}
.btn_32px{display:inline-block;height:32px;line-height:33px; *line-height:32px;font-size:14px;}
.btn_34px{display:inline-block;height:34px;line-height:35px; padding:0 15px; font-size:14px;font-family:"寰蒋闆呴粦";}

/*鎸夐挳鐗规畩琛ヤ竵*/
.W_btn_more{width:auto;min-width:0px;padding:0 5px;vertical-align:top;}

/*鎸夐挳鍐呴儴鍏冪礌*/
.W_btn_a .icon_member,
.W_btn_b .icon_member{ margin-right:3px;vertical-align:-3px; *vertical-align:1px; _vertical-align:middle; _margin:10px 0;}
.W_btn_a .W_loading,
.W_btn_b .W_loading{ margin:0 5px 0 0;}
.W_btn_c .W_loading,
.W_btn_d .W_loading{ margin:-1px 5px 0 0;}
.W_btn_b .ficon_addtwo,
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo,
.W_btn_b .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add,
.W_btn_b .ficon_right,
.W_btn_c .ficon_right,
.W_btn_d .ficon_right,
.W_btn_b .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite,
.W_btn_b .W_vline,
.W_btn_c .W_vline,
.W_btn_d .W_vline{ line-height:11px; overflow:hidden; margin-right:4px; vertical-align:middle;}
.W_btn_b .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite,
.W_btn_b .ficon_arrow_up_lite,
.W_btn_c .ficon_arrow_up_lite,
.W_btn_d .ficon_arrow_up_lite{margin:0 -3px 0 3px;}
.W_btn_b .ficon_add{ color:#fa7d3c!important;}
.W_btn_a .W_ficon,
.W_btn_c .W_ficon,
.W_btn_d .W_ficon{ color:#fff !important;}
.W_btn_c .W_vline{ border-color:#fa9b6a !important; }
.W_btn_d .ficon_menu{ font-size:14px; vertical-align:1px;vertical-align:3px\9;}
:root .W_btn_d .ficon_menu{ vertical-align:2px\0;}
.W_btn_b .cancal{ border-left-width:1px; border-left-style:solid; padding-left:5px; margin-left:5px;}
.W_btn_b .icon_praised_b,
.W_btn_b .icon_praised_bc{ margin:3px 2px 0 0; vertical-align:0; vertical-align:-2px\9; *vertical-align:0;}
.btn_32px .ficon_remark,
.W_btn_c .ficon_remark,
.W_btn_d .ficon_remark,
.btn_32px .ficon_praised,
.W_btn_c .ficon_praised,
.W_btn_d .ficon_praised{margin-right:4px; vertical-align:1px; _vertical-align:0; font-size:16px; }
.btn_32px .ficon_send,
.W_btn_c .ficon_send,
.W_btn_d .ficon_send{margin-right:4px; font-size:20px; }
.btn_32px .praised,
.W_btn_d .praised{ color:#eb7350 !important;}
.W_btn_c .ficon_cd_music,
.W_btn_d .ficon_cd_music{margin-right:4px; font-size:16px; }
.btn_32px .ficon_addtwo,
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo,
.btn_32px .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add{ font-size:12px;}
/*鎸夐挳鍐呴儴鍏冪礌*ie6bug鍕垮姩*/
.W_btn_a .W_loading,
.W_btn_b .W_loading{vertical-align:middle;_margin:4px 5px 4px 5px; }
.btn_23px .W_loading,
.W_btn_c .W_loading,
.W_btn_d .W_loading{vertical-align:middle;_margin:9px 5px 9px 5px; }
.W_btn_b .ficon_addtwo{*line-height:15px;_line-height:25px;}
.W_btn_c .ficon_addtwo,
.W_btn_d .ficon_addtwo{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_add{*line-height:15px;_line-height:24px;}
.btn_22px .ficon_add{ margin-top:4px; _margin-top:0; vertical-align:top; _line-height:19px;}
.btn_32px .ficon_add,
.W_btn_c .ficon_add,
.W_btn_d .ficon_add{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_right{_line-height:25px;}
.btn_32px .ficon_right,
.W_btn_c .ficon_right,
.W_btn_d .ficon_right{*line-height:15px;_line-height:34px;}
.W_btn_b .ficon_arrow_down_lite{*line-height:15px;_line-height:24px;}
.btn_32px .ficon_arrow_down_lite,
.W_btn_c .ficon_arrow_down_lite,
.W_btn_d .ficon_arrow_down_lite{_line-height:35px;}
.W_btn_d .ficon_menu{*vertical-align:2px;_vertical-align:0px;}
/*鎸夐挳鍐呴儴鍏冪礌*ie6bug鍕垮姩*/

/*profile澶撮儴鑿滃崟鎸夐挳*/
.W_btn_pf_menu{ width:34px; min-width:0;}
/*CARD鐭摼鎸夐挳*/
.W_btn_cardlink{ _width:auto; max-width:131px\0; margin:0 2px; padding:0 5px; box-shadow:none; *cursor:pointer; vertical-align:middle; text-align:left;}
.W_btn_cardlink .W_autocut{ display:inline-block; max-width:110px; _width:76px; vertical-align:top;}
.W_btn_cardlink .W_ficon{ line-height:20px; *line-height:18px; _line-height:20px; vertical-align:top;}
.W_btn_cardlink .W_vline{ display:inline-block; height:12px; margin:4px 5px 0 3px; vertical-align:top;}
.W_btn_cardlink .ico_spe .W_icon{ display:inline-block; *width:21px; margin:-1px 5px 0 -6px;}

/*鍒嗛〉*/
.W_pages{ text-align:center; letter-spacing: -0.31em; *letter-spacing:normal;*word-spacing:-0.43em; text-rendering:optimizespeed; white-space:nowrap; *font-family:Arial;}
.W_pages .page{ letter-spacing:normal; word-spacing:normal; text-rendering:auto; padding:0 8px;margin:0 5px 0;line-height:20px;display:inline-block;text-align:center;vertical-align:middle;}
.W_pages .prev,
.W_pages .next { width:100px;height:26px;line-height:26px;padding:0;margin:0;}
.W_pages .prev { border-right-width:1px;border-right-style:solid;margin-right:20px;*margin-right:14px; margin-right:14px\0;}
.W_pages .next { border-left-width:1px;border-left-style:solid;margin-left:20px;*margin-left:14px; margin-left:14px\0;}
.W_pages .page .ficon_arrow_down{ margin-left:3px;}
.W_pages .page:hover{ text-decoration:none}
.W_pages .page_dis,
.W_pages .page_dis:hover{ cursor:default; color:#808080;}
/*寮瑰嚭灞傚垎椤�/
.W_pages .list{position:relative; display:inline-block; height:24px; letter-spacing: normal; *vertical-align:-5px;}
.W_pages .list .layer_menu_list{position:absolute; *min-width:76px; bottom:30px; left:-13px; _left:-20px; max-height:280px; _height:140px;  overflow-y:auto;overflow-x: hidden;}
.W_pages .layer_menu_list ul li a{ line-height:14px; *padding:7px 22px;}
/*婊氬姩鏉�/
.W_scroll::-webkit-scrollbar {
	width: 6px;/*瀵瑰瀭鐩存祦鍔ㄦ潯鏈夋晥*/
	height: 6px;/*瀵规按骞虫祦鍔ㄦ潯鏈夋晥*/
}
/*鍨傜洿婊氬姩鏉＄殑鎸夐挳*/
.W_scroll::-webkit-scrollbar-button:vertical {
	display: none;
}
/*闅愯棌婊氬姩鏉′笂鏂圭殑娓愬鎸夐挳*/
.W_scroll::-webkit-scrollbar-button:vertical:start:increment,
.W_scroll::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
}
/* 鍨傜洿婊氬姩鏉＄殑绗竴灞傝建閬�/
.W_scroll::-webkit-scrollbar-track:vertical {
	background-color: transparent;
}
/* 鍨傜洿婊氬姩鏉＄殑绗簩灞傝建閬撱�*/
.W_scroll::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
/* 鍨傜洿婊氬姩鏉＄殑婊戝姩鍧�*/
.W_scroll::-webkit-scrollbar-thumb:vertical {
	background-color: #aaa;
	border:2px solid #fff;
	border-width:2px 2px 2px 0;
}

/*鍒囨崲椤甸潰鎸夐挳*/
.W_btn_prev,
.W_btn_next{ display:inline-block; border-radius:50%; width:22px; height:22px; border-style:solid; border-width:2px; line-height:22px; text-align:center; overflow:hidden;}
.W_btn_prev .W_ficon,
.W_btn_next .W_ficon{ font-size:18px;}
.W_btn_next .W_ficon{ text-indent:2px;}
.W_btn_prev_disabled,
.W_btn_next_disabled{ border-color:#e4e4e4 !important;}
.W_btn_prev_disabled:hover,
.W_btn_next_disabled:hover{ cursor:default;}
.W_btn_prev_disabled:hover .W_ficon,
.W_btn_next_disabled:hover .W_ficon{ color:#e4e4e4; cursor:default;}
.W_btn_prev_disabled .W_ficon,
.W_btn_next_disabled .W_ficon{ color:#e4e4e4;}

/*鏍囩*/
.W_btn_tag{ position:relative;min-width:24px;margin-left:10px;display:inline-block;height:20px;line-height:20px; *line-height:21px;font-size:12px; padding:0 10px 0 5px;box-shadow:none; cursor:pointer;}
.W_btn_tag .W_arrow_bor{ position:absolute; top:0; left:-21px;}
.W_btn_tag .W_arrow_bor i,
.W_btn_tag .W_arrow_bor em{ border-width:10px;}
.W_btn_tag .W_arrow_bor_l em {margin: 0px 0 0 -19px;}
.W_btn_tag .W_ficon{ text-align:center;}
.W_btn_tag .ficon_edit{ width:14px; margin-left:5px;}
.W_btn_tag .ficon_close{ width:18px; margin-right:-8px;}
.W_input .W_btn_tag,
.input_outer .W_btn_tag{ cursor:text;}

/*鍗婇�鑳屾櫙鐨勬搷浣滄寜閽�/
.W_btn_alpha{ display:inline-block;height:30px;line-height:30px; padding:2px 10px; border-radius:5px;background:#2c2c2c;background:rgba(74,74,74,0.6);overflow:hidden; cursor:pointer;}
.W_btn_alpha span{ color:#fff;}
.W_btn_alpha:hover span,
.W_btn_alpha .W_praised .ficon_praised{ text-decoration:none; color:#eb7350;}
.W_btn_alpha i.ficon_praised{vertical-align:top; font-size:27px;}
.W_btn_alpha span em{ margin:0 0 0 5px; _vertical-align:-9px;}
.W_btn_alpha .icon_enlarge,
.W_btn_alpha .icon_narrow,
.W_btn_alpha .icon_maximum{ display:none;}

/*鑰乫eed鐭摼鍏煎锛岀淇°�WEBIM绛夊紑鍙戞湭璺熻繘缁撴瀯淇敼*/
/*.WB_text .W_btn_c,
.WB_empty .W_btn_c{ margin:0 2px; vertical-align:middle;}
.WB_text .W_btn_c .W_autocut,
.WB_empty .W_btn_c .W_autocut {display: inline-block;max-width: 110px;_width:76px;vertical-align:top;}
.WB_text .W_btn_c .W_btn_icon .W_vline,
.WB_empty .W_btn_c .W_btn_icon .W_vline{ margin:4px 4px 0 2px; text-indent:-9999px; display:inline-block;height:12px; border-color:#d9d9d9!important;vertical-align:top;}
.WB_text .W_btn_c .W_btn_icon .W_ico12,
.WB_empty .W_btn_c .W_btn_icon .W_ico12,
.WB_text .W_btn_c .W_ico20{ width:14px;margin:4px 0 0 0;display: inline-block;height: 12px;background-image: url(../../../images/common/feedapp/icon.png?id=201505071359);background-repeat: no-repeat; vertical-align:top;}
.WB_text .W_btn_c .icon_cd_music { width:9px;  background-position:-200px -350px}
.WB_text .W_btn_c .icon_cd_video { width:6px;  background-position:-200px -375px}
.WB_text .W_btn_c .icon_cd_place { width:10px;  background-position:-200px -400px}
.WB_text .W_btn_c .icon_cd_link,
.WB_empty .W_btn_c .icon_cd_link { width:11px;  background-position:-200px -425px}
.WB_text .W_btn_c .icon_cd_book { width:9px;  background-position:-200px -450px}
.WB_text .W_btn_c .icon_cd_vote { width:10px; background-position:-200px -475px}
.WB_text .W_btn_c .icon_cd_app { width:10px; background-position:-200px -500px;}
.WB_text .W_btn_c .icon_cd_film{ width:10px; background-position:-200px -525px;}
.WB_text .W_btn_c .icon_cd_vdisk{ width:10px; background-position:-200px -550px;}
.WB_text .W_btn_c .icon_cd_event{background-position:-225px -375px;}
.WB_text .W_btn_c .icon_cd_product,
.WB_text .W_btn_c .icon_cd_cart{background-position:-225px -400px;}
.WB_text .W_btn_c .icon_cd_game{background-position:-225px -425px;}
.WB_text .W_btn_c .icon_cd_topic{ width:11px;background-position:-225px -450px;}
.WB_text .W_btn_c .icon_cd_welfare{ width:11px;background-position:-225px -474px;}
.WB_text .W_btn_c .icon_cd_coupon{ background-position:-225px -500px;}
.WB_text .W_btn_c .icon_cd_concert{ background-position:-225px -525px;}
.WB_text .W_btn_c .icon_cd_money{ background-position:-225px -550px;}
.WB_text .W_btn_c .icon_cd_img{ background-position:-200px -575px;}
.WB_text .W_btn_c .icon_cd_stock{ background-position:-225px -575px;}

.WB_text .W_btn_c .W_ico20{ width:22px; height:22px; margin:-1px 5px 0 -6px;}
.WB_text .W_btn_c .icon_fl_tmall{ width:22px; height:22px;background-position:-425px 0;}
.WB_text .W_btn_c:hover .icon_fl_tmall{background-position:-450px 0;}
.WB_text .W_btn_c .icon_fl_tb{ width:22px; height:22px;background-position:-425px -25px;}
.WB_text .W_btn_c:hover .icon_fl_tb{background-position:-450px -25px;}
.WB_text .W_btn_c .icon_fl_ju{ width:22px; height:22px;background-position:-425px -50px;}
.WB_text .W_btn_c:hover .icon_fl_ju{background-position:-450px -50px;}

.WB_text .W_btn_c,
.WB_empty .W_btn_c{display:inline-block;height:20px;line-height:20px; *line-height:21px; min-width:28px;_width:28px; font-size:12px; padding:0 5px; cursor:pointer; text-align:left; padding:0 5px!important;}
.WB_text .W_btn_c,
.WB_empty .W_btn_c{ border-width:1px; border-style:solid;box-shadow: 0px 1px 0px rgba(0,0,0,0.1);color:#333;text-decoration:none;border-color:#d9d9d9; background:#f2f2f5; width:auto;box-shadow:none;}
.WB_text .W_btn_c:hover,
.WB_empty .W_btn_c:hover{border-color:#cccccc; background:#f2f2f5;}
.WB_text .W_btn_c_disable,
.WB_text .W_btn_c_disable:hover{ color:#808080;text-decoration:none; box-shadow:none; cursor:default;border-color:#d9d9d9}
.WB_text .W_btn_c_disable .W_ficon,
.WB_text .W_btn_c_disable:hover .W_ficon{color:#d9d9d9; cursor:default;}*/

/*瑙ｅ喅IE8bug*/
/*.WB_text .W_btn_c,
.WB_empty .W_btn_c {max-width:140px\0;}
.WB_text .W_btn_c span.W_autocut,
.WB_empty .W_btn_c span.W_autocut{ max-width:110px\0;}
.WB_text .W_btn_c span,
.WB_empty .W_btn_c span{ display:inline-block; max-width:131px\0;}
.WB_text .W_btn_c em.W_autocut,
.WB_empty .W_btn_c em.W_autocut{ max-width:110px\0;}*/
/*end瑙ｅ喅IE8bug*/

/*鑰乫eed鐭摼鍏煎锛岀淇°�WEBIM寮�彂鏈窡杩涚粨鏋勪慨鏀�/

/*feed鎾斁闊充箰澶ф寜閽�/
.W_btn_mult { display:inline-block; height:26px; border:1px solid #d9d9d9;border-radius:2px;overflow:hidden; vertical-align:middle; cursor:pointer;background-image:url(../../../images/common/icon.png?id=201601141404);_background-image:url(../../../images/common/icon.gif?id=201601141404);}

/*涓ゅ�鍥炬爣鎬绘眹  (icon.css閲屼篃鏈夛紝闇�鍚屾缁存姢)*/
@media only screen and (-webkit-min-device-pixel-ratio:2),
       only screen and (-moz-min-device-pixel-ratio:2),
       only screen and (-o-min-device-pixel-ratio:2/1),
       only screen and (min-device-pixel-ratio:2){
.W_btn_mult{ background-image:url(../../../images/common/icon-x2.png?id=201601141404); background-size: 625px 325px; }
}


.W_btn_mult span{display:inline-block; max-width:72px; _width:72px; height:24px; margin-left:38px; padding:0 15px 0 7px; border:1px solid #fff; border-left:none; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; line-height:24px; *line-height:25px; white-space:nowrap; color:#333333; }
.W_btn_mult span{background-color:#f3f3f3; /* Old browsers */
background-image: -moz-linear-gradient(top,  #fbfbfb 0%, #f2f2f2 50%, #e7e7e7 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(50%,#f2f2f2), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* IE10+ */
background-image: linear-gradient(top bottom,  #fbfbfb 0%,#f2f2f2 50%,#e7e7e7 100%); /* W3C */}
.W_btn_mult:hover{text-decoration:none;}
.btn_mult_music{ background-position:-350px -200px;}

/*璁ら鎸夐挳*/
.W_btn_claim,
.W_btn_claiming{ display:inline-block; height:22px; padding:0 10px; background:#60bcf0; border-radius:11px; line-height:22px; color:#fff;}
.W_btn_claiming{ background:#a0d7f6;}
.W_btn_claim .W_icon,
.W_btn_claiming .W_icon{ float:left; margin:5px 3px 0 0;}
#js_style_css_module_base_btn{height:42px;}



